<?php

$apiKey = 'jdorfmanv10sk58rtarv4vfyk3mn5r';
$apiUserId = '0000';
$companyId = 'companyalias';

// ******** Do not Remove or edit: ***********
date_default_timezone_set('America/Los_Angeles');
$cur = date('c');

?>

